/.metadata/
node_modules/
.vscode/
.gradle/
.settings/
bin/
build/
temp/
Debug/
Release/

package-lock.json
.DS_Store
.classpath
.project
*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.out
*.exe
hs_err_pid*
*.jar


build.properties
mvn.properties
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
Servers/